/** variables **/
$color1: #fff;
$color2: #fff;
$color3: #fff;
$color4: #fff;
$colorPrimario: rgba(250, 60, 60, 1);
$fuente:'Montserrat', sans-serif;
;
/***RESETS***/
*{
	margin:0;
	padding:0;
	font-family: $fuente;
}
html, body, h1, h2, h3, h4, ul, li{
	margin:0;
	padding:0;
}
h1 img{
	display:block;
}
img{
	border:0;
}
a{
	color:#000;
	text-decoration:none;
}

html{
	body{
	    #contenedor{
	    	header{
	       
	    	}
	    	section{
	        	.col{
	        		
	        	}
	    	}
	    	footer{
	         
	    	}
	    }
	}
}
