block seccion
        section
                .col
                        h1 section
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius porro dolorem corporis, tempore hic at adipisci placeat culpa modi soluta suscipit cum ullam totam nisi veniam molestias magnam dolorum ipsam.
                .col
                        h1 section
